# Beef
build/
recovery/
BeefSpace_User.toml

.claude/
.editor/
.vscode/
nul

Assets/cache/
Assets/shaders/editorcache/
EngineRewrite.md
RHI.md
ShaderReflection.md
GameIdeas/
/Projects/
Code/Foundation/Sedulous.UI/DESIGN.md
Assets/skies/realistic_sky.texture.bin
